<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="user" class="com.spring.User">
        <property name="id" value="1001" ></property>
        <property name="name" value="张三" ></property>
        <property name="age" value="20" ></property>
    </bean>

    <bean id="javaWork" class="com.java.JavaWork">
        <!-- value 设置基本类型的   ref 是设置对象的，就是new 出来的对象    -->
        <property name="tester" ref="lisi" ></property>
    </bean>

    <bean id="zhangsan" class="com.java.ZhangSan"></bean>
    <bean id="lisi" class="com.java.LiSi"></bean>

</beans>